*{margin:0;padding:0;border: none;}
html{
line-height: 27px;
font-size: 14px;
font-family: "Roboto", sans-serif;
color: #777777;
font-weight: 400;
box-sizing: border-box;
width: 100vw;
height: 100vh;
}
*, *::before, *::after{
    box-sizing: inherit;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* =======================================BLOG TRAVEL ================================== */
.textBoldBlog{
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #222222;
  font-size:18px;
  line-height:25px;

}
.titleBlog{
  font-size: 2em;
  line-height: 1.5em;
  color: #222222;
  font-weight: 600;
  transition: all 0.3s linear;
  font-family: "Playfair Display", serif;
  margin-bottom: .5rem;
}
.titleBlog:hover{
  color: #3077CB;
}
.slideControllerBlog{
  position: relative;
}
.overLayBlog{
  opacity: 0;
  background-color: #777777;
  position: absolute;
  top:0;
  left: 0;
  width: 60px;
  height: 60px;
}
.overLayBlog svg{
  color: #000;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
}
.overLayBlog:hover{
  opacity: 0.6;
}
.buttonBlog{
  border: 1px solid #eeeeee;
  border-radius: 5px;
  display: inline-block;
  background: #f9f9ff;
  padding:2% 5%;
  margin-top: 2%;
}
.buttonBlog a{
  text-decoration: none;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
}
.buttonBlog:hover {
  background: #f8b600;
  border-color: #f8b600;
  color: #fff;
}
.textNormalComment{
  font-size: 13px;
  color: #cccccc;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.paragraphBlog{
  text-align:justify;
  color:#777777;
  margin-bottom:10px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
}
.right-blog-container{
  display:grid;
  grid-template-columns:75% 25%;
  grid-gap: 2em;
  align-items:center;
}
/* ========================================START NAVBAR=============================== */
.container-top-bar{
  display: flex;
  justify-content:space-between;
  margin:0.5% 10% 2% 10%;
  position: relative;
  z-index: 1000;
  min-height: 80px;
}
.sticky{
  position: fixed;
  top:0;
  width: 100%;
}
#toggle-icon{
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 30px;
  top: 30px;
  left: 0;
  z-index: 99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.3s ease 0s;
  display: inline-block;
  background: transparent;
}
#toggle-icon span{
  position: absolute;
  top:0;
  left: 0;
  height: 2px;
  width: 30px;
  display: block;
  background: #222222;
  /* choose the way the mouse appear when hover to the icon */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#toggle-icon::before{
  content: "";
  height: 2px;
  width: 25px;
  display: block;
  background: #222222;
  position: absolute;
  left: 0px;
  top: 20px;
  transition: all 0.5s ease-in-out;
}
#toggle-icon::after{
  content: "";
  height: 2px;
  width: 20px;
  display: block;
  background: #222222;
  left: 0px;
  bottom: 8px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
#toggle-icon.visible span{
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 18px;
  top: 0px;
  left: 300px;
}
#toggle-icon.visible::after{
  opacity: 0;
  left:300px;

}
#toggle-icon.visible::before{
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top:0px;
  left:300px;
  width: 18px;
}

.side-menu-hidden{
  grid-template-rows: auto 1fr;
  background-color: white;
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
  max-width: 500px;
  width: 100%;
  padding: 110px 115px 70px 115px;
  box-shadow: 0px 20px 50px rgb(70 129 255 / 10%);
  transition: all 0.3s ease 0s;
}
.side-menu-hidden h1{
  margin-bottom: 100px;
  color:black;
  font-size: 35px;
}
.side-menu-hidden nav{
  display: flex;
  flex-direction: column;
}
.side-menu-hidden nav a{
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  text-align: start;
  font-weight: bold;
  font-size: 18px;
}


/* ======================================HOME PAGE =================================*/
/* =======================================part I: HEADER of Homepage */
.header-Homepage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-right{
  display: flex;
  flex-direction: column;
  /* max-width: 50%;
  flex: 0 0 50%; */
  padding-left: 12%;
  padding-right: 6%;
}

.header-right h1{
  font-size: 35px;
  font-family: "Playfair Display", serif;
  color: #222222;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  line-height: 35px;
}
.header-right p{
  display: block;
  margin-bottom: 1rem;
  text-align: justify;
  /* will be equal at end and start */
}
.button{
  display: inline-block;
  background: transparent;
  margin-top: 20px;
}
.button a{
  display: inline-block;
  padding: 0.3em 2em;
  text-align: center;
  color: #222222;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  border: 1.8px solid rgb(55, 139, 124);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  text-decoration: none;
}
.button a:hover{
  background-color:rgb(52,117,105);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color:white;
}
.button a:hover img{
  right: -25%;
  transition: all 0.3s ease 0s;
  /* transition: width/height/all(will bigger or move both side) time:0,3s */
}
.button img{
  position:absolute;
  top: 50%;
  right:-20%;
  transform: translateY(-50%);
  vertical-align: middle;
  border-style: none;
}
#form-submit button{
  display: inline-block;
  padding: 0.3em 2em;
  text-align: center;
  color: #222222;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  border: 1.8px solid rgb(55, 139, 124);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  text-decoration: none;
  background-color: transparent;
}
#form-submit button:hover{
  background-color:rgb(52,117,105);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color:white;
}
.header-left{
  max-width: 50%;
  padding-left: 15px;
  flex: 0 0 50%;
  position: relative;
  /* flex-basics, flex-grow(bigger when screen bigger), flex-shrink(smaller);; */
}
.header-left img{
  width: 100%;
}
.topLayer{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2em;
  align-items: center;
  position: absolute;
  left: -5%;
  top: 67%;
}
.topLayer div:last-child{
  color: #ffffff;
}
.topLayer div:last-child h5{
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.topLayer div:last-child p{
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.popUpPlayButton{
  padding: 35px 8px 18px 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: pulse 2000ms ease-out infinite; 
  /* animation-name:pulse(defind at @keyframes pulse) time:2000ms,....*/
  transition: all 200ms ease;
  box-shadow: 0px 0px 10px 30px #ffffff;
  background-color: rgb(52,117,105);
}

.popUpPlayButton span{
  /* create play button */
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid #ffffff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.253);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.253);
  }
  20% {
    -moz-box-shadow: 0 0 0 10px rgba(252, 251, 248, 0.39);
    box-shadow: 0 0 0 10px rgba(252, 251, 248, 0.39);
  }
  40% {
    -moz-box-shadow: 0 0 0 10px rgba(252, 251, 248, 0.548);
    box-shadow: 0 0 0 15px rgba(252, 251, 248, 0.548);
  }
  60%{
    -moz-box-shadow: 0 0 0 10px rgba(252, 251, 248, 0.705);
    box-shadow: 0 0 0 20px rgba(252, 251, 248, 0.705);
  }
  80% {
      -moz-box-shadow: 0 0 0 10px rgba(252, 251, 248, 0.883);
      box-shadow: 0 0 0 25px rgba(252, 251, 248, 0.883);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgb(255, 255, 255);
      box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
}


.outer-iframe-video{
  height: 7250px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.8;
}
.container-iframe-video{
  top: 114px;
  position: absolute;
  height: 144px;
  left: 0;
  width: 100%;
  z-index: 1043;
  outline: none;
}
.wrapper-hold-iframe-video{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.wrapper-hold-iframe-video::before{
  content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.video-content{
    width: 100%;
    max-width: 900px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
    cursor: auto;
    padding-top: 45%;
}
.video-content button{
  display: block;
  position: absolute;
  color: #FFF;
  top: -40px;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
  cursor: pointer;
  background: transparent;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
  overflow: visible;
  height: 44px;
  line-height: 44px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  opacity: 0.65;
   
}
.video-content iframe{
  position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 900px;
    height: 500px;
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    background: #000;
}

/* ===================================PartII Popular places============================= */
.pop-container{
  /* margin: 0 10% 2% 17%; */
  margin-bottom: 2%;
  padding: 120px 0;
}
.left-content{
  margin-left: 95px;
  position: relative;
  max-width: 80%;
}
.left-content img:first-child{
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.left-content img:nth-child(2){
  position: absolute;
  top: 2%;
  left: 50%;
  vertical-align: middle;
  border-style: none;
}

.left-content img:nth-child(3){
  position: absolute;
  right: 29%;
  bottom: -7%;
  vertical-align: middle;
  border-style: none;
}
.right-content{
  /* padding-left: 30%; */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  grid-column-gap:2.5em;
}
.right-content div:first-child{
  grid-column: 1/-1;
}
.single-counter{
  text-align: center;
  border: 1px solid #eeeeee;
  padding-top: 3em;
  padding-bottom: 3em;
}
.single-counter:hover{
  background-color:rgba(52, 117, 105, 0.719) ;
}
.single-counter:hover svg{
  color: white;
}
.single-counter:hover h2{
  color: white;
}
.single-counter:hover p{
  color: white;
}
.single-counter svg{
  width: 1.8em;
  height: 1.8em;
  color: rgb(68, 121, 111);
}
.single-counter h2{
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-family: "Playfair Display", serif;
}
.right-content h1{
  font-size: 35px;
  text-transform: capitalize;
  /* margin-top: 0.67em; */
  margin-bottom: 2em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: black;
  line-height: 40px;
}
/* ===================================Part III Best Tour Plan===========================*/
/* .best-tour-plan{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10em;
  max-width: 100vw;
  padding-top: 2em;
} */
/* .textInfo-container{
  padding-left: 31.5%;
  padding-right: 6%;
} */
.textInfo-container h1{
  padding-bottom: 1.5em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 35px;
  color: black;
  line-height: 38px;
}
.textInfo-container p{
  margin-bottom: 2em;
  text-align: justify;
  color: #777777;
}
/* .img-slideShow{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1.4em;
  max-width: 50%;
} */
.img-slideShow{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1.4em;
}
.slide-thumbnail{
  padding-right: 1em;
}
.single-image-wrapper{
  text-align: left;
  position: relative;
  display: inline-block;
} 

.single-image-wrapper img{
  display: block;
  width: 100%;
  border: 1px solid lightcyan;
  box-shadow: 0px 0px 10px 1px rgba(171, 197, 192, 0.719);
}
.slide-controllers{
  grid-column: 1/-1;
  text-align: center;
  /* margin-top: 4.5em; */
}

.layer{
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  grid-gap:15px;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  /* bottom: -15%; */
  background-color: #22222277;
  opacity: 0;
  padding: 30px;
  z-index: 999;
  visibility: hidden;
  transition: all 0.4s ease-in 0s;
}
.icon-pin{
  grid-column: 1/-1;
  text-align: end;
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  left: 15vw;
  margin-bottom: 8em;
}
.icon-pin svg{
  color:rgb(52,117,105);
  position: absolute;
  font-size: 17px;
  top:35%;
  left:32%;
  transform: rotate(45deg);
}
.single-image-wrapper:hover .layer{
  opacity: 1;
  visibility: visible;
  bottom: -15%;
  left: 0;
}
.review-star{
  text-align: end;
}
.review-star svg{
  color: rgb(108, 204, 186);;
}
.layer h4{
  color:white;
  text-transform: capitalize;
  grid-column: 1/-1;
  font-size: 25px;
  font-weight: 700;
  text-align: start;
  font-family: "Playfair Display", serif;
}
.layer h5{
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  text-align: end;
}
.layer p{
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(108, 204, 186);
}
/*================================ Start Part IV Blog-Travel ========================== */
.section-blogHomePage{
  margin: 13% 0;
}
/* .back-ground-change{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 41.8%;
  background-color: #111111ad;
} */
/* .section-blogHomePage::before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60.6%;
  background-color: rgb(217, 243, 239);
  content: "";
} */
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.travel-blog{
  display: grid;
  grid-template-columns: 31.8% 31.8% 31.8%;
  grid-template-rows: auto auto;
  grid-gap: 2em;
  align-items: center;
  justify-content: center;
}
.title-blog{
  grid-column: 1/-1;
  color:#222222;
  font-size: 22px;
  margin-bottom: 2em;
  padding-left: 0.2em;
  font-family: "Playfair Display", serif;
}
.single-travel-blog{
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
}
.blog-meta a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  /* justify-content: space-around; */
  align-items:baseline;
  color: #777777;
  padding: 1.5em 0 0 2em;
}
.blog-meta a div{
  display: flex;
  flex-direction: row;
  align-items:baseline;
  padding-right: 1.2em;
}
.blog-meta a div p{
  padding-left: 0.8em;
  text-transform: capitalize;
}
.image-blog img{
  width: 100%;
}
.image-blog{
  display: block;
  position: relative;
  overflow: hidden;
}

.image-blog::before{
  content: "";
  position: absolute;
  top:0;
  left: auto;
  right:0;
  width: 0;
  height: 100%;
  transition: all 0.35s ease 0s;
  background: rgba(255, 255, 255, 0.4);
  z-index: 999;
}
.image-blog:hover::before{
  width: 100%;
  left:0;
  right: auto;
}
.single-travel-blog:hover{
  box-shadow: 0px 0px 20px 5px rgb(192, 211, 207);
}
.blog-infos{
  padding: 25px;
}
.single-travel-blog h5{
  font-size: 18px;
  font-family: "Playfair Display", serif;
  margin: 0px 0px 15px;
}
.single-travel-blog h5 a{
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  color: #222222;
}
.single-travel-blog p{
  margin-top: 0;
  margin-bottom: 1rem;
}
/* =========================================PART V PACKAGE SEARCHING====================== */
/* .package-search-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10em;
  justify-content: center;
  margin-bottom: 15%;
} */
.package-search-form{
  position: relative;
  background: url(./containers/HomePage/image/suitcase.jpeg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 70px 50px;
  z-index: 1;
}
.package-search-form:after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(58, 57, 57, 0.74);
  opacity: .5;
  z-index: -1;
}
.package-search-form h2{
  font-size: 24px;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1.33em;
}
.package-search-form form div input{
  color: #fff;
  text-shadow: 0.8px 0.8px #fff;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 20px;
  font-size: 18px;
  background: transparent;
  width: 100%;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  /* transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
}


#form-submit{
  margin-top: 50px;
}
#form-submit a{
  color: #fff;
}
.package-title h1{
  font-size: 35px;
  color: #222222;
  line-height: 35px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding-bottom: 2em;
}
.package-title p{
  padding-bottom: 1em;
  text-align: justify;
}
/*=======================================> PART VI SUBSCRIBE NEWSLETTER =============================*/
.subscribe-title{
  text-align: center;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-gap: 4em;
  justify-content: space-around;
  align-items: baseline;
}

.input-group{
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
    width: 100%;
}
.input-group input{
  height: 40px;
  background: #fff;
  border-radius: 0px;
  width: 65%;
  border: none;
  padding: 25px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  outline: none;
  box-shadow: none;
}
.subscribe-wrapper div:last-child{
  margin-top: 10px;
}
/*===================================== start LOGIN PAGE================================== */
.loginContainer{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap:2em;
  font-size: 20px;
  padding-top: 55px;
  padding-bottom: 50px;
}
.logInsection{
  margin-left: 20%;
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.logInsection form{
  display: flex;
  flex-direction: column;
}
.logInsection h4{
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #222;
}
.logInsection label{
  color:#222;
  font-size: 13px;
  text-transform: uppercase;
  margin:0;
  padding:0;
}
.logInsection input{
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.logInsection a{
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  text-transform: capitalize;
  color: #767676;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
.logInsection button{
  display: block;
  width: 100%;
  margin-top: 20px;
  font-weight: 700;
  min-width: 144px;
  height: 44px;
  line-height: 42px;
  background-color: #201D29;
  color:#fff;
  font-size:15px;
  text-transform: uppercase;
}
.logInsection button:hover{
  background-color: #fff;
  border: 1px solid #201D29;
  color:#201D29;
}
.middle-logIn{
  border-right: 1px solid #e5e5e5;
  height: 100%;
  width: 8.3%;
}
.login-register-page{
  padding-bottom: 50px;
}

/*  ====================================>Start TOUR-PACKAGE-SHOP ======================*/

/* ================================NAV BAR INCLUDE CART+WISHLISH ================== */
#sticky-top-bar{
  position: fixed;
  width: 100%;
  height:75px;
  z-index: 1100;
  transition: 0.3s all ease 0s;
  /* background-color: #fff; */
}
#user-top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#user-top-bar div{
  padding: 1em;
}
.icon-user{
  font-size: 1.3em;
  position: relative;
}
.icon-user a{
  color:#222;
  /* position: absolute;
  top:0;
  left:0; */
}
.icon-user a:hover{
  color: rgb(127, 255, 236) ;
}
.icon-user a:active{
  color:tomato;
}
#wish-list-notify-icon{
  position: absolute;
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  display: block;
  position: absolute;
  top: 11px;
  right: 5px;
  min-width: 14px;
  height: 14px;
  padding: 0 3px;
  background-color: #63A1B3;

}
/* ===========================================HEADER PARALLAX ===================================== */
.slide-controller-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.slide-controller-flex div svg{
  display: block;
}
.slide-controller-flex h1{
  margin-bottom: 1em;
  font-family:"Playfair Display", serif;
  font-size: 40px;
  
}
.header-parallax{
  min-height: 650px;
  position: relative;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50% 0%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay{
  width: 100%;
  opacity: .5;
  background: #fff;
}
.overlay::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.title-package{
  color: #222222;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 22px;
  position: absolute;
  left: 0%;
  width: 100%;
  bottom: 38%;
  text-transform: uppercase;
  text-align: center;
}
/* .title-package div{
  margin-left: -1.7em;

} */
.slide-controller-flex a:hover svg{
  color:greenyellow;

}
.best-seller-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
#search-bar select{
  border-bottom: 1px solid #777777;
  padding-right: 3em;
  text-align: start;
  text-transform: uppercase;
}


/* Main shop product outer grid */
/* .grid-outer{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 5%;
  grid-gap:2.5em;
} */
/*===================================== LEFT CONTENT ==================================== */
.left-side-container{
  min-height: 1px;
  margin-top:6%;
}
.browser-categories,.browser-cate-content{
  display: flex;
  flex-direction: column;
}

.title-widget{
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  width:100%;
  border: 2px solid #94c1d1;
  background-color: #94c1d1;
  /* background:#659CAF; */
  padding: 0 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;

}
.browser-categories h5{
  text-transform: uppercase;
}
.browser-categories div:first-child:hover{
  background-color: transparent;
}
.browser-categories div:first-child:hover h5{
  color:#777777;
}
.browser-cate-content{
  /* background-color: #F8F9FA; */
  margin-bottom: 2em;
  padding: 20px 28px;
  /* background: #f1f6f783; */
  border: 2px solid #f1f6f7;
  width: 100%;
}
/* .browser-cate-content div{
  text-decoration: none;
  font-size: 15.5px;
  display: block;
} */
.toggle-up-down-subCategory{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.browser-cate-content svg{
  display: block;
  margin-left: 0.5em;
  margin-top: -0.2em;
  font-size:18px;
}
.toggle-up-down-subCategory:hover svg{
  color:darkorange;
}
.container-check-category{
  display: block;
  text-decoration: none;
  color: #5f8594;
  font-size: 16px;
  font-weight: 600;

}
.browser-cate-content a:active{
  color:darkorange;
}
.subcategory-container{
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
}
.subcategory-container a{
  color: #4e4e4e;
  text-decoration: none;
}
.subcategory-container a:hover{
  color:#ee894a;
  font-weight: 600;
  text-shadow: 1px 1px #f5e9d0;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin-top: 0.5em;
}
.slidecontainer h2{
  font-family: "Playfair Display", serif;
  color: #5f8594;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2em;
}
.slidecontainer div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slidecontainer button{
  display: inline-block;
  background-color: #cccccc;
  padding: 0.6em;
  border-radius: 10px;
  margin-top: 1em;
}
.slidecontainer button:hover{
  background-color: transparent;
  border: 1px solid #5f8594;
}
.slidecontainer button a{
  text-decoration: none;
  color: #5f8594;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.6s ease 0s;
}
.slidecontainer button:hover a{
  text-shadow: 1px 1px rgb(247, 247, 57);
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider-right{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider-right::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #3077CB; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider-right::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #3077CB; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider-right:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ee894a; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  position: absolute;
  z-index:2;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #EE975F;; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* ======================================>  RIGHT CONTENT =================================================>*/

.right-grid-content-main-product{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 96%;
}
.right-grid-content-main-product h1{
  position: absolute;
  top:30%;
  left: 30%;
}
.search-sort-bar{
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
.sorting, .show-option{
  margin-top: 10px;
  margin-right: 1em;
}
.sorting select{
  display: inline-block;
  padding: 0.6em 1em;
  font-size: 15px;
  color:#757575;
}
.show-option select{
  display: inline-block;
  padding: 0.6em 1.7em;
  font-size: 15px;
  color:#757575;

}
.show-option{
  margin-top: 10px;
  margin-right: auto;
  color: #999999;
}
.search-bar{
  position: relative;
}
.search-bar input{
  display: inline-block;
  padding: 0.6em 1.3em;
  font-size: 15px;
  color:#999999;
  border-bottom: 1px solid #659CAF;
}
.search-bar svg{
  position: absolute;
  top: 20%;
  right: 5%;
}

.best-seller-title{
  grid-column: 1/-1;
  text-align: start;
}

.best-seller-title h1{
  margin-left: -5%;

}

.review-outer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img{
  position: relative;
  border-radius: 4px;
}
.vr{
  writing-mode: vertical-lr;
  transform: rotate(
  180deg
  );
  text-align: right;
  text-orientation: sideways;
  margin: 0rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  z-index: 1;
  color: #fff;
}
.vr span{
  position: relative;
  font-size: 14px;
  font-weight: 400;
  background: #232931;
  padding: 20px 5px;
  text-align: right;
  text-orientation: sideways;
  color: #fff;
  writing-mode: vertical-lr;
}

.img a {
  display: inline-block;
  overflow: hidden;
}
.img a img{
  width: 100%;
  transition: all 0.25s ease 0s;
  display: block;
}
.img a:hover img{
  transform: scale(1.1);
  cursor: pointer;
}
.text{
  padding: 1.5em 0 0 0;
  position: relative;
}
.titleLikeButton div svg{
  margin-right: 0.8em;
}
.titleLikeButton span{
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.2);
}
.titleLikeButton a{
  display: inline-block;
  text-decoration: none;
  color:#929292;
}
.titleLikeButton a:hover{
  color:rgb(115, 251, 226);
  font-size: 16px;
}
.titleLikeButton a:active{
  color: tomato;
  font-size: 16px;
}
.text h3{
  font-family: "Cormorant Garamond", Georgia, serif;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
}
.text h3 a{
  text-decoration: none;
  color: #222222;
}
.text h3 a:active{
  color:rgb(55, 139, 124);
}
.price{
  background: #e2c0bb;
  position: absolute;
  top: -25px;
  left: 10px;
  padding: .4em .7em;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Poppins",Arial,sans-serif;
  transition: all .3s ease;
  border-radius: 2px;
  box-shadow: 0 20px 43px -8px rgb(0 0 0 / 11%);
  line-height: 1.5;
  margin-bottom: .5rem;
}
.old-price{
  font-size: 14px;
    text-decoration: line-through;
    color: rgba(0,0,0,.3);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: .5rem;
    font-family: "Poppins",Arial,sans-serif;
}

#star svg{
  width: 12px;
  color:#e7c53c;
}
.titleLikeButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* ===================================POP-UP SINGLE TOUR ==================================*/

.wrapper-modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9000;
  overflow-y: auto;
  transition: all .4s;
  padding-bottom: 60px;
  padding-top: 60px;
  visibility: visible;
  opacity: 1;
  background-color: rgb(44, 44, 44);
}
.mask {
	background-color: rgba(36, 36, 36, 0.589);
	position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;

}

#quick-view-pop-up {
	background: #fff;
  position: relative;
  padding-bottom: 60px;
  padding-top: 60px;
}
.close-button{
  position: absolute;
  top: -35px;
  right: 0;
  transition: all .4s;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

.carouse-left-content{
  /* position: relative; */
  width: 100%;
  min-height: 1px;
  padding-right: 30px;
  padding-left: 25px;
}

.left-outer-grid{
  display: grid;
  grid-template-columns: 12% 88%;
  grid-gap: 2em;
  margin-left: 15px;
}
.mini-carousel-slider{
  display: flex;
  flex-direction: column;
}
.mini-carousel{
  width: 100%;
  margin-bottom: 27px;
}
.mini-carousel img{
  width: 100%;
  vertical-align: middle;
}
.active-carousel-showing img{
  width: 100%;
  display: block;
  box-shadow: 0px 2px 15px 18px #d3d3d352;
}
.active-carousel-showing{
  position: relative;
}

.slide-controller{
  position: absolute;
  z-index: 100;
  width: 100%;
  right: 0;
  top: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-controller button{
  font-size: 25px;
  color: #fff;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,.5);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  overflow: visible;
}
.slide-controller button:first-child{
  left:0;
}
.slide-controller button:last-child{
  right:0;
}

.pop-up-right-content{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-right: 80px;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.pop-up-right-content h4{
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  padding-bottom: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.tour-info{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.388888;
  color: #333;
  padding-bottom: 14px;
  font-family: "Poppins", serif;
  font-weight: 550;
}
.tour-info span{
  display: inline-block;
  padding-bottom: 6px;
}
.tour-info span svg{
  margin-right: 5px;
}
.tour-brief{
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-size: 13px;
  line-height: 1.7;
  color: #666;
  padding-top: 5px;
}
.tour-brief h5{
  font-size: 13px;
}
.tour-brief svg{
  margin-right: 5px;
}
.querry-tour-booking{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.form-input-query{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.form-input-query label{
  display: flex;
  font-family: 'Poppins';
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.input-outer-booking{
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  width: calc(100% - 150px);
  background-color: #fff;
}
.depart-date{
  height: 100%;
  padding: 0.35em;
  border: 1.5px solid  rgba(102, 102, 102, 0.424);
  border-radius: 4px;
}
.quantity-controller{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 180px);
}
.outer-quantity-controller{
  width: 140px;
  height: 45px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;

}
.substract{
  color: #555;
  width: 45px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.quantity{
  display: block;
  width: calc(100% - 90px);
  height: 100%;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background-color: #f7f7f7;
  text-align: center;
  overflow: visible;
  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 1.6; 
  border-radius: 0;
  padding-left: 0.9em;

}
.button-add-to-card{
  border-radius: 23px;
  /* background-color:rgba(104, 161, 151, 0.548); */
  background-color: #717fe0;
  min-width: 150px;
  height: 40px;
  font-family:"Poppins", serif;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}
.button-add-to-card:hover{
  background-color: transparent;
  border: 2px solid #717fe0;
  color:#555;
}
.services-include-exclude{
  margin-top:20px;
}
.service-include{
  display: flex;
  align-items: center;
}
.service-include h5{
  font-size: 13px;

}
.service-include svg{
  display: inline-block;
  margin-right:5px;
}
.show-off{
  margin-right: 10px;
  margin-left: 5px;
}
.alert-register{
  margin-left: 10%;
  margin-top: 2%;
}
.alert-register a{
  margin-left: 5px;
  color: orangered;
}
.alert-register a:hover{
  text-shadow: 0px 1px yellowgreen;
  
}
.overflow-scrolling{
  overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.success-confirmation{
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
  overflow-y: scroll;
  background-color: rgba(0,0,0,.4);
  z-index: 10000;
  transition: opacity .3s;
}
.success-confirmation:before{
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.modal-confirm-overlay{
  opacity: 1;
  pointer-events: auto;
  box-sizing: border-box;
  width: 478px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  position: static;
  margin: 20px auto;
  display: inline-block;
  vertical-align: middle;
  transform: scale(1);
  transform-origin: 50% 50%;
  z-index: 10001;
  position: relative;
}
.iconCheck{
  font-size:80px;
  color:greenyellow;
  margin-top:50px;
  margin-bottom: 30px;
}
.modal-confirm-overlay h4{
  display: block;
  font-family:"Playfair Display", serif;
  color: rgba(0,0,0,.65);
  font-weight: 600;
  padding: 13px 16px;
  font-size: 27px;
  line-height: normal;
  text-align: center;
  margin-top:20px;

}
.modal-confirm-overlay p{
  display: block;
  font-family: "Poppins", serif;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 400;
  color: rgba(0,0,0,.64);
  max-width: calc(100% - 20px);
  margin-bottom: 60px;
}

.modal-confirm-overlay button{
  display: inline-block;
  margin: 5px;
  text-align: right;
  padding-top: 13px;
  margin-top: 13px;
  margin-bottom: 20px;
  padding: 13px 16px;
  background-color: #717fe0;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  position: absolute;
  top:80%;
  left:75%;
}



/* ======================================== OUR SERVICE PART ==============================*/
.section-services-outer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1.5em;
  margin-top:-3%;
  margin-bottom: 10%;
}
.intro h1{
  font-family: "Lato", Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 8%;
  right: 0;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.04);
  font-weight: 900;
  letter-spacing: 1px;
}
.intro{
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  justify-content:center;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
}
/* .subHeading{
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgb(226, 192, 187);
  letter-spacing: 2px;
} */
/* .intro h2{
  line-height: 1.7;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  padding-top: 2em;
  margin-left: -1em;
} */
/* .intro p{
  margin-bottom: 1rem;
} */
.col1-visa-service{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.col1-visa-service div:last-child h3{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #222222;
  margin-bottom: 1rem
}
.col1-visa-service div:last-child p{
  margin-bottom: 1rem;
  font-size: 16px;
}
.col1-visa-service div:first-child{
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 28%;
}
/* .flaticon{
  display: block;
  width: 20px;
} */
.flaticon img{
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  left:21%;
  top:20%;
}
.flaticon{
  position: absolute; 
  top: 0%;
  left:-15%;
  width: 120px;
  height: 120px;
  /* inset: -10px; */
  z-index: -1;
  content: "";
  background: url(./containers/TourPackages/components-tourpackages/images/flaticon.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ==========================================TESTIMONIAL SECTION =================================*/
.testimonial-section{
  position: relative;
  z-index: 1;
  background-color: rgba(248, 249, 250, 0.794);
  /* background-color: rgb(248, 249, 250); */
  padding: 5em 0;
}
.title-intro-testimonial{
  margin-bottom: 3rem;
  justify-content: center;
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
}
.title-intro-testimonial h1{
  line-height: 1.7;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}
.main-testimonial{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  z-index: 1;
  position: relative;
  width: 1110px;
  height: auto;
  margin-right: -15px;
  margin-left: -15px;
}
.main-testimonial div:first-child{
  margin-bottom: 3rem;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.main-testimonial div:first-child img{
  display: block;
  width: 80%;
}
.review-content{
  margin-left: -30%;
  padding: 1rem;
  align-self: center;
  background-color: #fff;
  flex: 0 0 24%;
  max-width: 24%;
}
.review-content p:first-child{
  font-size: 1rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 1rem;
  text-align: left;
}
.review-content p:last-child{
  margin-bottom: 1rem;
  text-align: left;
}

/* =================================== ====== FOOTER =================================*/
footer{
  background-color: #1F1C28;
}
.footer-area-outer-grid-4col{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
  grid-gap: 1.8em;
  padding: 120px 0px;
}

.single-widget h6{
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}
.single-widget p{
  margin-bottom: 1rem;
}
.single-widget form{
  display: flex;
  flex-direction: row;
  position: relative;
}
.single-widget form input{
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333333;
  width: 80% !important;
  font-weight: 300;
  background: transparent;
  color: #ffffff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  border-right: 4px;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
}
.single-widget form button{
  cursor: pointer;
  background: #f8b600;
    padding: 6px 12px;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
}
.single-widget form div{
  position: absolute;
  margin-top: 20%;
  color: #fff;
  font-size: 12px;
  background: transparent;

}
#insta-title{
  margin-bottom: 1.8em;
}
.instafeed{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:0.6em;
}
.instafeed img{
  width: 100%;
}
.bottom-outer{
  padding: 26px 0px;
  border-top: 1px solid #333333;
}
.flex-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-bottom div:last-child svg{
  font-size: 30px;
  padding-right:0.5em;
}


/*============================================ SHOPPING CART PAGE ================================= */

.bread-crumb-flex-outer{
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  /* padding-top: 30px; */
  align-items: baseline;
  /* font-family: Poppins-Regular; */
  line-height: 1.83333;
}
.bread-crumb-flex-outer a{
  color: rgb(85, 85, 85);
  transition: all 0.4s ease 0s;
  text-decoration: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.83333;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bread-crumb-flex-outer a:active{
  color:lawngreen;
}
.bread-crumb-flex-outer a svg{
  margin-right: 10px;
  margin-left: 9px;
  color:rgb(85, 85, 85);
  margin-top: 2px;
}
.bread-crumb-flex-outer span{
  font-size: 12px;
  color: rgb(153, 153, 153);
}
.outer-empty-shopping-cart{
  background-color: #F7F8FA;
}
.empty-cart-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5%;
}
.empty-cart-display img{
  width: 101px;
  height: 106px;
  margin-bottom: 33px;
  margin-top: 50px;
}
.empty-cart-display h4{
  font-size: 18px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}
.empty-cart-display p{
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  text-transform: none;
  font-weight: 400;
}
.empty-cart-display button{
  min-width: 270px;
  padding: 0 24px;
  height: 44px;
  line-height: 42px;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background: #201D29;
  border: 1px solid transparent;
  white-space: nowrap;
}
.empty-cart-display button a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.empty-cart-display button:last-child{
  background-color: #fff;
  border: 1px solid #201D29;
  margin-bottom: 20px;
  padding-top:1px;
}
.empty-cart-display button:last-child a{
  color: #222;
  text-align: center;
}
.empty-cart-display button:last-child:hover{
  background-color: #201D29;
}
.empty-cart-display button:last-child:hover a{
  color:#fff;
}
#loggedIn-empty-cart{
  margin-top:5%;
  margin-bottom: 10%;
  background-color: #fff;
}
.table-wrapper{
  background-color: rgb(255, 255, 255);
  padding-bottom: 85px;
  padding-top: 50px;
}
.grid-mainCart-outer-2col{
  display: grid;
  grid-template-columns: 61% 39%;
  margin-right: -15px;
  margin-left: -15px;
}
#grid-mainCart-outer-2col-checkout{
  /* display: grid; */
  grid-template-columns: 50% 50%;
  /* margin-right: -15px;
  margin-left: -15px; */
}
.cart-col1{
  margin-bottom: 50px;
  padding-left: 15px;
}
.outer-cart-col1{
  width: 681px;
  border-top: 1px solid rgb(230, 230, 230);
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
}
#outer-cart-col1-checkout{
  width: 580px;
  /* border-top: 1px solid rgb(230, 230, 230);
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230); */
  
}
.grid-header-row1{
  display: grid;
  grid-template-columns: 39% 27% 19% 15%;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 680px;
  height: 49px;
  text-align: left;
  padding-right: 40px;
}
#grid-header-row1-checkout{
  /* display: grid;
  grid-template-columns: 39% 27% 19% 15%;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230); */
  width: 579px;
  /* height: 49px;
  text-align: left;
  padding-right: 40px; */

}
.grid-header-row1 h6{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  color: rgb(75, 75, 75);
  text-transform: uppercase;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:40px;
}
#grid-product-row2{
  width: 100%;
  padding-right: 40px;
  border-top: none;
  grid-template-columns: 43.8% 19.4% 27.8% 9%;
  height: 185px;
  /* border-top: 1px solid rgb(230, 230, 230); */
  border-bottom: 1px solid rgb(230, 230, 230);
}
.thumbnail-shopping-cart-tour{
  padding-left: 40px;
  position: relative;
}
  
#grid-product-row2 div:first-child{
  display: flex;
  align-items: center;
}
#grid-product-row2 div:first-child img{
  margin-right: 20px;
  cursor: pointer;
  width: 60px;
  height: 80px;
}
#thumbnail-cart{
  transition: 0.5s all ease-in-out 0s;
}
.overlay-delete{
  width: 60px;
  height: 80px;
  position: absolute;
  top:0;
  left:40px;
  z-index:100;
  opacity: 0;
  background-color: rgba(245, 245, 245, 0.856);
}
.overlay-delete span{
  color: #fff;
  display: inline-block;
  position: absolute;
  top:45%;
  left: 45%;
  transform: translate(-45%,-45%);
  z-index: 101;
}
#thumbnail-cart:hover .overlay-delete{
  opacity: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#grid-product-row2 div:first-child p{
  font-size: 15px;
  display: inline-block;
  width: 220px;
  color: rgb(85, 85, 85);
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
#grid-product-row2 span{
  font-size: 16px;
  color: rgb(85, 85, 85);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  padding-left: 7px;
}
.grid-product-cart-row3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 15px;
  padding-top: 21px;
}
.grid-product-cart-row3 form input{
  display: inline-block;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 22px;
  width: 220px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.47;
  color: rgb(51, 51, 51);
  margin-right: 10px;
  margin-bottom: 5px;
  padding-left: 20px;
}
.grid-mainCart-outer-2col button{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 22px;
  min-width: 163px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.47;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.911);
}
.grid-mainCart-outer-2col button:hover{
  background-color: #717fe0;
  color: #fff;
}
.grid-product-cart-row3 button:last-child{
  margin-top: -7px;
}
.cart-col2{
  margin-bottom: 50px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.total-outer{
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  margin-right: 40px;
  margin-left: 30px;
  padding: 30px 40px 40px 40px;
}
.total-outer h4{
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: rgb(51, 51, 51);
  padding-bottom: 30px;
}
.subtotal-cart{
  display: flex;
  border-bottom: 1px dashed rgb(217, 217, 217);
  align-items: center;
  padding-bottom: 13px;
}
.total-outer span{
  display: inline-block;
  width: 34.5%;
  font-size: 15px;
  line-height: 1.47;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  color: rgb(51, 51, 51);
}
.shipping-infos-cart{
  display: flex;
  border-bottom: 1px dashed rgb(217, 217, 217);
  padding-bottom: 30px;
  padding-top: 15px;
  align-items: flex-start;
}
.main-shipping-cart{
  width: 65.5%;
  padding-right: 18px;
}
.main-shipping-cart p{
  font-size: 13px;
  line-height: 1.69;
  font-family: 'Poppins', sans-serif;
  color: rgb(136, 136, 136);
  padding-top: 2px;
}
.address-query-form-cart{
  padding-top: 15px;
}
.address-query-form-cart span{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 1.6923;
  text-transform: uppercase;
  color: rgb(85, 85, 85);
}
.address-query-form-cart div{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 12px;
}
.address-query-form-cart div input{
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 13px;
  line-height: 1.6923;
  font-family: 'Poppins', sans-serif;
  color: rgb(85, 85, 85);
  padding-right: 15px;
  padding-left: 15px;
}
#subtotal-final{
  border: none;
  padding-bottom: 33px;
  padding-top: 27px;
}
#check-out-button{
  background-color: #201D29;
  color: #fff;
  margin-left: 25%;
}
#check-out-button a{
  color: #fff;
  text-decoration: none;
}
#check-out-button:hover{
  background-color: #717fe0;

}
.pay-button{
  display: inline-block;
  width: 30%;
  background-color: #201D29;
  color: #fff;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 22px;
  min-width: 163px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.47;
  text-transform: uppercase;
  margin-top: 25px;
}
.pay-button:hover{
  background-color: #fff;
  color: rgb(85, 85, 85);
  border: 1px solid #201D29;
}
.paymentform{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.paymentform input{
  border-bottom: 1px solid rgb(85, 85, 85); 
  margin-bottom: 2em;
  padding: 0.5em;
}
.main-confirm-success{
  display: inline-block;
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ================================USER PROFILE ===================================== */
.main-content-user-profile{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap:2em;
  margin-bottom: 5%;
}
.col1-user-profile{
  display: flex;
  flex-direction: column;
  padding-top:50px;
  padding-bottom: 50px;
}
.col1-user-profile div{
  cursor: pointer;
  margin-bottom: 4px;
}
.col1-user-profile div a{
  text-decoration: none;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-stretch: condensed;
  font-weight: 550;
  color: #ccc;
  font-family: "Playfair Display", serif;
  transition: 0.15s;

}
.col1-user-profile div a:hover{
  color: #000;
}
#help-user-profile{
  text-transform: uppercase;
  text-decoration: none;
  color:rgba(34, 34, 34, 0.801);
  cursor: pointer;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  margin-top: -5px;
}
.icon-empty-orders img{
  width: 30%;
  height: auto;
  margin: 5% 0 0 20%;
}
.icon-empty-orders p{
  margin-left: 26%;
  color:rgb(161, 161, 161)

}

.title-orders-profile h1{
  text-transform: uppercase;
  color:rgba(34, 34, 34, 0.877);
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 2%;
}
.title-orders-profile span{
  font-size: 12px;
  text-transform: uppercase;
  color:rgba(34, 34, 34, 0.877);
}

.grid-personal-info-user-profile button{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 22px;
  min-width: 163px;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.47;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.911);
  margin-top: 2em;
}
.grid-personal-info-user-profile button:hover{
  background-color: #222;
  color:#fff;
}
.grid-personal-info-user-profile{
  display: flex;
  flex-direction: column;
  padding-top: 0.8em;
}
.check-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Customize the label (the container) */
.container-radio-button {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 2.5em;
  /* text-transform: uppercase; */
  font-weight: 600;
}

/* Hide the browser's default radio button */
.container-radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5.5px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio-button input:checked ~ .checkmark {
  background-color: #222;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio-button .checkmark:after {
  /* top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%; */
  background: #222;
}
.personal-infor-user-profile{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:2.5em;
}
.personal-infor-user-profile input{
  display: inline-block;
  border-bottom: 1px solid #222;
  min-width: 200px;
  padding: 0.2em;
}
.personal-infor-user-profile div{
  display: flex;
  flex-direction: column;
}
#add-new-shipping{
  max-width: 300px;
}
.log-out button{
  text-decoration: none;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-stretch: condensed;
  font-weight: 550;
  color: #ccc;
  font-family: "Playfair Display", serif;
  transition: 0.15s;
  margin-top:5%;
  background-color: transparent;
}
.log-out button:hover{
  font-size:22px;
  color:#222;
}

.wish-list-display{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:2em;
  align-items: center;
  justify-content: center;
  margin-top:2em;
}
.wish-list-display div{
  display: flex;
  flex-direction: column;
}
.wish-list-display img{
  width: 90%;
  box-shadow: 0px 0px 3px 5px rgba(195, 194, 194, 0.363);
}

/* ====================================== FONTS ========================================== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* ======================================QUERRIES MEDIA ================================= */
@media (max-width:480px){
  .container {
    max-width: 450px
  }
  /* .header-parallax{
    min-height: 330px;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size:contain;
  }
  .slide-controller-flex h1{
    font-size: 25px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin-top: 10%;
  }
  .title-package{
    color: #222222;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 26%;
    text-transform: uppercase;
    text-align: center;
  } */
  .intro h1{
    font-family: "Lato", Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 8%;
    right: 0;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.04);
    font-weight: 900;
    letter-spacing: 1px;
  }
  
}

@media (max-width: 570px){
  .header-right{
    padding: 80px 15px;
  }
  .container {
    max-width: 540px
  }
  .main-testimonial{
    display: block;
    width: 100%;
  }
  .main-testimonial div:first-child img{
    display: none;
  }
  .review-content{
    margin-left: 5%;
    padding: 1rem;
    align-self: center;
    background-color: #fff;
    max-width: 100%;
  }
  .right-blog-container{
    display: flex;
    flex-direction: column;
  }
  .search-bar input{
    display: inline-block;
    padding: 0.6em 1.3em;
    font-size: 15px;
    color:#999999;
    border-bottom: 1px solid #659CAF;
  }
}

@media (max-width: 767px){
  .container {
    max-width: 720px
  }
	.header-right {
    max-width: 100%;
		padding: 80px 15px;
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./containers/HomePage/image/amazingVietNam1.png) center no-repeat;
    background-size: cover;
    color: #fff;
	}
  .header-right h1{
    color: #fff;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 900;
  }
  .header-right p{
    color: #fff;
  }
  #button-header-right a{
    color: #fff;
    font-weight: 700;
  }
  #button-header-right img{
    filter: invert(1);
  }
  .header-right:after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    content: "";
    opacity: .2;
    z-index: -1;
  }
  .header-left{
    display: none;
  }
  .right-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:2.5em;
  }
  .left-content{
    display: none;
  }
  .right-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1em;
  }
  .right-content h1{
    margin-bottom: 1.5em;
  }
  .single-counter{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top:0.9em;
  }
  .single-counter h2{
    font-size: 1.2em;
  }
  .single-counter svg{
    width: 1.4em;
    height: 1.4em;
  }
  .best-tour-plan{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    grid-gap: 3em;
    max-width: 100vw;
    padding-top: 2em;
  }
  .img-slideShow{
    width: 100%;
  }
  .icon-pin{
    width: 30px;
    height: 30px;
    left: 75%;
    margin-bottom: 2em;
  }
  .layer{
    padding:5px;
  }
  .layer h4{
    font-size: 18px;
  }
  .layer h5{
    font-size: 18px;
  }
  .travel-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .package-search-form{
    margin: 2% 5%;
  }
  .section-services-outer{
    grid-template-columns: 1fr 1fr;
    grid-gap:1em;
  }
  .intro h1{
    font-family: "Lato", Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 8%;
    right: 0;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.04);
    font-weight: 900;
    letter-spacing: 1px;
  }
  .footer-area-outer-grid-4col{
    grid-template-columns: 1fr 1fr;
  }
  .instafeed{
    grid-gap:0.6em;
  }
  .instafeed img{
    width: 100%;
  }
  .left-side-container{
    display: flex;
    flex-direction: column;
  }
  .carousel-flex-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    margin-right: 30px;
  }
  .pop-up-right-content {
    margin-left: 40px;
    margin-top:15px;
  }
  .quantity-controller {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 180px);
  }
  .main-content-user-profile {
    grid-template-columns: 35% 65%;
    grid-gap: 0em;
  }
  #toggle-icon.visible span{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 18px;
    top: 90px;
    left: 10px;
  }
  #toggle-icon.visible::after{
    opacity: 50px;
    left:10px;
  }
  #toggle-icon.visible::before{
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top:90px;
    left:10px;
    width: 18px;
  }
  /* .header-parallax{
    min-height: 330px;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size:contain;
  }
  .slide-controller-flex h1{
    font-size: 25px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin-top: 10%;
  }
  .title-package{
    color: #222222;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 26%;
    text-transform: uppercase;
    text-align: center;
  } */
  .loginContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .middle-logIn{
    border-bottom: 1px solid #ddd;
    width: 80vw
  }
}

@media(min-width:480px){
  .textInfo-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
  }
  .intro h1{
    font-size: 30px;
  }
}

@media (min-width: 570px){
  .main-testimonial div:first-child img{
    width: 80%;
  }
  .review-content{
    margin-left: -30%;
    padding: 1rem;
    flex: 0 0 30%;
    max-width: 30%;
  }
  

}






@media (min-width: 768px){
  
  .header-right{
      flex: 0 0 50%;
      max-width: 50%;
  }
  .right-content{
    grid-gap:2.5em;
  }
  .package-search-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    justify-content: center;
    margin-bottom: 15%;
  }
  .main-testimonial div:first-child img{
    width: 85%;
  }
  .review-content{
    margin-left: -170px;
    padding: 1.1rem;
    flex: 0 0 35%;
    max-width: 35%;
  }
  .review-content p:first-child{
    font-size: 1.1rem;
  }
  .intro h1{
    font-size: 80px;
  }
  
  .best-seller-outer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0;
  }
  .carousel-flex-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2em;
    margin-right: -15px;
    margin-left: -15px;
  }
  .quantity-controller {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 180px);
  }

}

@media (max-width:767px) and (min-width:500px){
  .outer-cart-col1{
    width: 450px;
  }
  .grid-header-row1{
    width: 450px;
  }
  #outer-cart-col1-checkout{
    width: 450px;
  }
  #grid-header-row1-checkout{
    width: 450px;
  }
  .total-outer {
    width: 450px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .grid-mainCart-outer-2col {
    display: flex;
    flex-direction: column;
  }
  .grid-header-row1{
    grid-template-columns: 35% 25% 26% 10%;
  }
  #grid-product-row2{
    grid-template-columns: 42% 16% 37% 5%;
  }
  .grid-product-cart-row3 form input{
    margin-bottom: 20px;
  }
}

@media (max-width:991px) and (min-width:768px) {
  .left-side-container{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .browser-cate-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .slidecontainer{
    margin-top: 40px;
    margin-bottom: 13px;
  }
  .slidecontainer button{
   margin-bottom: 30px;
   margin-top:10px;
  }
  .slidecontainer h2{
    margin-bottom: 35px;
  }
  #price-filter{
    border-left: none;

  }
  .outer-cart-col1{
    width: 700px;
 
  }
  .grid-header-row1{
    width: 700px;
  }
  
  #outer-cart-col1-checkout{
    width: 700px;
  }
  #grid-header-row1-checkout{
    width: 700px;
 
  }
  .total-outer {
    width: 700px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .grid-mainCart-outer-2col {
    display: flex;
    flex-direction: column;
  }
  
}​


@media (max-width: 991px) {
  .container {
    max-width: 960px;
  }
  .header-right h1{
    font-size: 30px;
  }
  .left-content{
    display: none;
  }
  .best-tour-plan{
    grid-gap: 4em;
  }
  .textInfo-container{
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 50px;
  }
  .img-slideShow{
    padding-left: 15px;
  } 
  .icon-pin{
    width: 50px;
    height: 50px;
    left: 75%;
    margin-bottom: 2em;
  }
  .section-services-outer{
    grid-template-columns: 1fr 1fr;
    grid-gap:3em;
    margin-top:3%;
    margin-bottom: 15%;
    align-items: center;
  }
  .col1-visa-service div:last-child h3{
    text-align: center;
  }
  .col1-visa-service div:first-child{
    margin-left: 41%;
  }  
}


@media (min-width: 992px){
  .container {
    max-width: 960px
  }
  .pop-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .right-content{
    padding-left: 30%;
  }
  .best-tour-plan{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3em;
    max-width: 100vw;
    padding-top: 2em;
  }
  .textInfo-container{
    padding-left: 20%;
    padding-right: 3%;
  }
  .img-slideShow{
    max-width: 50%;
  }
  .single-image-wrapper{
    width: 330px;
  }
  .package-search-wrapper{
    grid-gap:5em;
  }
  .main-testimonial div:first-child img{
    width: 85%;
  }
  .review-content{
    margin-left: -130px;
    padding: 1.25rem;
    flex: 0 0 45%;
    max-width: 45%;
  }
  .review-content p:first-child{
    font-size: 1.2rem;
  }
  .grid-outer{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 5%;
    grid-gap:2.5em;
  }
  
  .best-seller-outer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0;
  }
  
}



@media (max-width:1200px) and (min-width:992px){
  .outer-cart-col1{
    width: 900px;
  }
  .grid-header-row1{
    width: 900px;
  }
  #cart-col1-checkout{
    margin-left: -29px;

  }
  #outer-cart-col1-checkout{
    width: 900px;
   

  }
  #grid-header-row1-checkout{
    width: 900px;
 
  }
  .total-outer {
    width: 900px;
    margin-right: 0px;
    margin-left: 5px;
  }
  #grid-mainCart-outer-2col-checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .grid-mainCart-outer-2col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

@media (min-width:1200px) {
  .container {
      max-width: 1140px
  }
  .best-tour-plan{
    grid-gap:10em;
  }
  .textInfo-container{
    padding-left: 31.5%;
    padding-right: 3%;
  }
  .package-search-wrapper{
    grid-gap:10em;
  }
  .review-content{
    margin-left: -100px;
    padding: 3rem;
    align-self: center;
    background-color: #fff;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .main-testimonial div:first-child img{
    display: block;
    width: 100%;
  }



}
@media (max-width: 1200px){
  .left-content{
    margin-right: 10%;
  }
  .left-content img:nth-child(2){
    width: 85%;
  }
  .left-content img:nth-child(3){
    width: 85%;
    top:57%;
  }
  .quantity-controller {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 180px);
  }
  
  

}





